\.git
\.hg

\.DS_Store
\.project
\.vagrant
bower_components
node_modules
npm-debug\.log*
yarn.lock
package-lock.json

# Config overrides
config/local-*

# Build
dist
lib
static
coverage
Procfile

# Created by https://www.gitignore.io/api/visualstudiocode

### VisualStudioCode ###
.vscode/*
.idea
